@charset "utf-8";
/* CSS Document */

:root {
  --puntuacionBackgroundColor: #42e0fc;
  --likesBackgroundColor: #5ec394;
  --dislikeBackgroundColor: #ef627a;
}

.home_page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.lista_fichas {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ficha_noticia {
  display: flex;
  height: 275px;
  width: 45%;
  margin: 1rem;
}

.puntuacion_container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.puntuacion {
  background-color: var(--puntuacionBackgroundColor);
  margin-top: 2rem;
  width: 50%;
  padding: 1rem 0;
  border-radius: 10px 0px 0px 10px;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.puntuacion_container .delete {
  margin-top: 2rem;
  margin-right: 15%;
}

.content_and_votes_container {
  width: 80%;
  display: flex;
  flex-direction: column;

}

.content {
  width: 100%;
  height: 80%;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 0px -2px 4px rgb(209, 209, 209);
  padding: 2rem;
}

.content_body,
.content_author_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_body {
  width:80%;
  align-items: flex-start
}

.content_body a {
  color:rgb(177, 177, 177);
  text-decoration: none;
}

.content_body p {
  color:rgb(139, 139, 139);
}

.content_author_info {
  width: 20%;
  align-items: center;
}

.content_author_info p {
  color: rgb(139, 139, 139)
}

.votes {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.votes_likes {
  color: var(--likesBackgroundColor);
  background-color: rgb(202, 255, 202);
  margin-right: 1rem;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
  font-weight: 900;
}

.votes_dislikes {
  color: var(--dislikeBackgroundColor);
  background-color: rgb(255, 211, 211);
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
  font-weight: 900;
}

.votes i {
  margin-right: 1rem;
}

/* AVATAR */

.avatar {
  border-radius: 50%;
  height: 64px;
  object-fit: cover;
  object-position: center;
  width: 64px;
  border: 2px solid #5ec394;
}
