@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #bfcbe1;
}
.contenedor {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 28vh;
  margin-right: 28vh;
  border-radius: 8px 0px 0px 8px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.col-1 {
  flex: 1;
  border: 6px;
  border-radius: 8px 0px 0px 8px;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 8;
}

.content {
  display: flex;
  flex-direction: row;
}
article {
  flex: 4;
  min-height: 70vh;
  padding: 1em;
  background-color: white;
}

header {
  padding: 1em;
  background: yellowgreen;
  height: 15vh;
}

nav {
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.sidebar_links_list {
  margin-top: 6rem;
}

.sidebar_links_list li {
  margin: 1.5rem;
}

a {
  display: block;
  background-color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #8598ad;
  height: 8vh;
}

a:hover {
  background-color: #f5f6fa;
}

.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3vh;
}
