.contenedor {
  display: flex;
  width: 80vw;
  height: 80vh;
  justify-content: center;
  border-radius: 8px 0px 0px 8px;
  position: relative;
  box-shadow: 10px 10px 15px -12px rgb(144, 144, 144);
  -webkit-box-shadow: 10px 10px 15px -12px rgb(144, 144, 144);
  -moz-box-shadow: 10px 10px 15px -12px rgb(144, 144, 144);
}
.col-1 {
  flex: 1;
  border: 6px;
  border-radius: 8px 0px 0px 8px;
}

.col-2 {
  flex: 8;
  height: 100%;
  position: relative;
  background-color: rgb(228, 233, 241);
  border-radius: 0px 8px 8px 0px;
}

.content {
  display: flex;
  flex-direction: row;
}

article {
  flex: 4;
  min-height: 70vh;
  padding: 1em;
  background-color: white;
}

header {
  padding: 1em;
  background: yellowgreen;
  height: 15vh;
}

nav {
  background-color: #ffffff;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.sidebar_links_list {
  margin-top: 6rem;
}

.sidebar_links_list li {
  margin: 1.5rem 0;
  width: 100%;
}

.sidebar_links_list a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #8598ad;
  padding: 4vh;
  width: 100%;
}

.sidebar_links_list a:hover {
  background-color: #f5f6fa;
}

.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3vh;
}
