@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #bfcbe1;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN */

.align {
  display: grid;
  place-items: center;
}

:root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --anchorColor: rgb(48, 35, 224);
  --formGap: 0.875rem;
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
  --loginLabelBackgroundColor: #363b41;
  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitColor: white;
  --loginSubmitHoverBackgroundColor: #d44179;
  --registerBorderRadus: 0.25rem;
  --registerColor: #eee;
  --registerInputBackgroundColor: #3b4148;
  --registerInputHoverBackgroundColor: #434a52;
  --registerLabelBackgroundColor: #363b41;
  --registerSubmitBackgroundColor: #ea4c88;
  --registerSubmitColor: white;
  --registerSubmitHoverBackgroundColor: #d44179;
}

.login input,
.register input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

.login input[type="submit"],
.register input[type="submit"] {
  cursor: pointer;
}

.form {
  display: grid;
  gap: var(--formGap);
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  inline-size: 100%;
}

.form__field {
  display: flex;
}

.form__input {
  flex: 1;
}

.colorito {
  color: #363b41;
  padding-bottom: 30px;
}

.colorito2 {
  color: #363b41;
  padding-bottom: 30px;
}

.login {
  color: var(--loginColor);
}

.login label,
.login input[type="text"],
.login input[type="password"],
.login input[type="submit"],
.login input[type="email"] {
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}

.login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.login input[type="password"],
.login input[type="text"],
.login input[type="email"] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type="password"]:focus,
.login input[type="password"]:hover,
.login input[type="text"]:focus,
.login input[type="text"]:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}

.login input[type="submit"] {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.login input[type="submit"]:focus,
.login input[type="submit"]:hover {
  background-color: var(--loginSubmitHoverBackgroundColor);
}

.text--center {
  text-align: center;
}

/* REGISTER */

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  inline-size: 100%;
}

.form__field {
  display: flex;
}

.form__input {
  flex: 1;
}

.register {
  color: var(--registerColor);
}

.register label,
.register input[type="email"],
.register input[type="text"],
.register input[type="password"],
.register input[type="submit"] {
  border-radius: var(--registerBorderRadus);
  padding: 1rem;
}

.register label {
  background-color: var(--registerLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.register input[type="email"],
.register input[type="password"],
.register input[type="text"] {
  background-color: var(--registerInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.register input[type="email"]:focus,
.register input[type="email"]:hover,
.register input[type="password"]:focus,
.register input[type="password"]:hover,
.register input[type="text"]:focus,
.register input[type="text"]:hover {
  background-color: var(--registerInputHoverBackgroundColor);
}

.register input[type="submit"] {
  background-color: var(--registerSubmitBackgroundColor);
  color: var(--registerSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.register input[type="submit"]:focus,
.register input[type="submit"]:hover {
  background-color: var(--registerSubmitHoverBackgroundColor);
}

.text--center {
  text-align: center;
}

.botonSalir {
  margin: 1.5rem 0;
  padding: 1rem;
  border: none;
  background-color: rgb(53, 53, 53);
  color: white;
  font-weight: 600;
  border-radius: 15px;
  font-size: 1rem;
}

.ficha_avatar {
  margin-right: 25%;
}

/* createPage */

.align {
  display: grid;
  place-items: center;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

:root {
  --anchorColor: rgb(48, 35, 224);
}

:root {
  --formGap: 0.875rem;
}

:root {
  --createPageBorderRadus: 0.25rem;
  --createPageColor: rgb(10, 10, 10);

  --createPageInputBackgroundColor: rgb(238, 243, 245);
  --createPageInputHoverBackgroundColor: rgb(238, 243, 245);

  --createPageLabelBackgroundColor: rgb(238, 243, 245);

  --createPageSubmitBackgroundColor: #eeb484;
  --createPageSubmitColor: white;
  --createPageSubmitHoverBackgroundColor: #4e4c4d;
}

.createPage {
  color: var(--createPageColor);
}

.createPage label,
.createPage input[type="titulo"],
.createPage input[type="descripcion"],
.createPage input[type="enlace"] {
  border-radius: var(--createPageBorderRadus);
  padding: 1rem;
}

.createPage label,
.createPage input[type="titulo"],
.createPage input[type="descripcion"],
.createPage input[type="enlace"] {
  max-width: fit-content;
}

.createPage label {
  background-color: var(--createPageLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.createPage input[type="titulo"],
.createPage input[type="descripcion"],
.createPage input[type="enlace"] {
  background-color: var(--createPageInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.createPage input[type="email"]:focus,
.createPage input[type="email"]:hover,
.createPage input[type="password"]:focus,
.createPage input[type="password"]:hover,
.createPage input[type="text"]:focus,
.createPage input[type="text"]:hover {
  background-color: var(--createPageInputHoverBackgroundColor);
}

.createPage input[type="submit"] {
  background-color: var(--createPageSubmitBackgroundColor);
  color: var(--createPageSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
}

.createPage input[type="submit"]:focus,
.createPage input[type="submit"]:hover {
  background-color: var(--createPageSubmitHoverBackgroundColor);
}

.createPage {
  margin: 0 auto;
  margin-top: 60px;
}

p {
  margin-block: 1.5rem;
}

.text--center {
  text-align: center;
}

/* NO LOGIN */

.no_login_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.no_login {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./multimedia/x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.no_login_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 54, 71);
}

.no_login_title h2 {
  font-weight: 600;
  font-size: 2.25rem;
}

.no_login_title p {
  font-weight: 400;
  color: rgb(148, 148, 148);
  font-size: 1.75rem;
  margin-top: 20px;
  font-size: 16pt;
  opacity: 0.7;
}

.no_login_buttons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-top: 3rem;
}

.no_login_buttons_register {
  font-size: 1.25rem;
  background-color: rgb(79, 167, 79);
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  padding: 0.5rem 1.75rem;
  border-radius: 10px;
  text-decoration: none;
}

.no_login_buttons_login {
  font-size: 1.25rem;
  background-color: rgb(236, 102, 102);
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  padding: 0.5rem 1.75rem;
  border-radius: 10px;
  text-decoration: none;
}

/* PAGE CONTAINER */

.page_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -12px rgb(144, 144, 144);
  -webkit-box-shadow: 10px 10px 15px -12px rgb(144, 144, 144);
  -moz-box-shadow: 10px 10px 15px -12px rgb(144, 144, 144);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.page_container_title {
  height: 15%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 80%;
}

.page_container_title h2 {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.page_container_content {
  height: 85%;
  width: 80%;
  display: flex;
  align-items: flex-start;
}

/* PROFILE PAGE */

.page_content_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
  font-size: 1.25rem;
  margin: 2rem 0;
}

.page_content_form .inputWrapper {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page_content_form .inputWrapper label:not(.updateFormAvatar) {
  margin-bottom: 1rem;
  color: rgb(82, 82, 82);
}

.page_content_form .inputWrapper label.updateFormAvatar img {
  width: 80px;
  height: 80px;
}

.page_content_form .inputWrapper input {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: 1px solid #dde0ee;
  outline: none;
}

.page_content_form input[type="submit"] {
  margin: 1.5rem 0;
  padding: 1rem;
  border: none;
  background-color: rgb(53, 53, 53);
  color: white;
  font-weight: 600;
  border-radius: 15px;
  font-size: 1rem;
}

.noticiaPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noticiaPage .ficha_noticia {
  transform: translateX(-10%);
}
#email::placeholder {
  color: #525252;
  opacity: 0.3;
}
